/*Global*/
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'arial', sans-serif;
}
p{
  line-height: 1.5;
}
img{
  width: 100%;
  margin-bottom: 40px;
  margin-bottom: 40px;
  margin-bottom: 0px;
}

h2{
  margin-bottom: 20px;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: white;
}

/*header*/
.site-init {
  background-image: url(./imgs/banner.jpg);
  background-size: cover;
  border-bottom: 1px solid #eee;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.site-init h1 a {
  position: absolute;
  top: 20px;
  left: 100px;
}


.site-init nav {
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 100px;
}

.site-init h1, .site-init p {
  margin: 0 0 80px;
}

.site-init a{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.site-secondary{
  background-color: black;
  background-size: cover;
  height: 100px;
  color: white;
  text-align: center;
  position: relative;
  margin-top: -90px;

}


.site-secondary h1 a {
  position: absolute;
  top: 20px;
  left: 100px;
}


.site-secondary nav {
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 100px;
}

.site-secondary h1, .site-secondary p {
  margin: 0 0 80px;
}

.site-secondary a{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*footer*/
.footer-courses{
  margin-top: 18px;
}

.read-footer{
  background-color: #69470c;
  border: none;
  color: rgb(255, 255, 255);
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer-contact{
  background-color: black;
  background-size: cover;
  border-bottom: 1px solid #eee;
  height: 100px;
  color: white;
  text-align: center;
}

.footer-contact h2 a {
  font-family: 'arial', sans-serif;
  font-size: 30px;
  position: absolute;
  left: 100px;
}

.footer-contact a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  padding-top: 30px;
}

.footer-contact div {
  position: absolute;
  right: 100px;
  margin: 0 20px;
  padding-top: 10px;

}


.footer-courses{
  margin-left: 20px;
}

.footer-courses h4{
  margin-top: 18px;
  margin-bottom: 14px;
}
/*utilities*/
.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.read-more{
  background-color: #aeaa74;
  border: none;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

.title-topic{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


/*Forms*/
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

form{
  width: 100%;
  padding: 20px;
}

.input-container{
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.input-container input,
.input-container textarea {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input-container label{
  min-width: 100px;
  margin-right: 10px;
}


.send-button{
  background-color: black;
  border: none;
  color: rgb(255, 255, 255);
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Courses */

.course-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-top: 40px
}


.take-button{
  background-color: black;
  border: none;
  color: rgb(255, 255, 255);
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}